#customize-control-doc_supp .charity_review_support {
    font-size: 13px;
    display: block;
    width: 90%;
    margin: 5px auto 14px auto;
    transition: all .5s ease;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    border-radius: 50px;
    background-color: #3ebef1;
    box-shadow: none;
    line-height: 23px;
    padding: 9px 10px;
}
.charity_review_support span {
    position: relative;
    line-height: inherit;
    margin-right: 9px;
}
.support-image img {
    height: 25px;
    margin-right: 5px;
    margin-left: 6px;
}
.support-image.charity_review_support {
    display: flex !important;
}

#customize-control-doc_supp .charity_review_support:hover {
    box-shadow: 0 -3px 0 0 rgba(0,0,0,.3) inset;
}